* { font-family: 'PT Serif', serif; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * style
 */

body {
    margin: auto;
    font-size: 18px;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: #4E425F;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

hgroup > h2 {
    display: inline-block;
    margin-right: 10px;
}

ul#contributors {
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 1.4em;
    text-transform: lowercase;
}

header { 
	text-align: center;
	border-bottom: 2px solid #1ab315; /* http://hexna.me/1AB315 */
	padding-bottom: 12px;
}

footer { 
	text-align: center;
	border-top: 2px solid #1ab315; /* http://hexna.me/1AB315 */
	padding-top: 12px;
	clear: both;
}

main {
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

main section#right {
	width: 25%;	
	float: right;
    border-left: 4px solid #eee;
    margin-left: 15px;
}

main p {
	padding-left: 10px;
}

main section {
	padding: 10px;
    margin-bottom: 10px;
}